.col-lg-8
    .cardy
        h2 RENT A STUDIO
        hr    
        h4 Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, voluptas? Nesciunt nemo blanditiis voluptates! Quidem laudantium ipsa, qui alias reiciendis amet, reprehenderit obcaecati molestiae in odit quis nostrum repudiandae soluta eum quaerat non sit quibusdam aliquam facere nesciunt, perspiciatis doloribus. Iure veritatis at expedita laborum enim blanditiis inventore quasi unde!