.cardy {
  text-align: right;
  h2 {
    color: aliceblue;
    font-weight: bold;
  }
  h4 {
    color: aliceblue;
  }
  ul {
    padding-top: 2%;
  }
  hr{
    padding-bottom: 0.5%;
    background-color: #B30000;
  }
}
