.col-lg-4
    .calen
        h2 WARRANTY
        img.carus(src="../../assets/3.jpg" alt="Image Title")
        span Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus reprehenderit nihil consectetur explicabo accusantium commodi maiores modi distinctio sint vero. Eveniet, quaerat quos in eligendi asperiores explicabo quo iure tempora.