.main(style='background-image: url(../../assets/background.jpg); background-image: no-repeat;background-size: cover;')
    #wrap
    div(class="navbar navbar-inverse")
        .container
            .navbar-header               
                img.navbar-brand.logo(alt="Logo", src="../../assets/logo.png")
                a.navbar-brand.brand(href="/page-1/page-1.html") TENGA
            div(class="collapse navbar-collapse")
                ul.nav.navbar-nav.navbar-right.naviki
                    li
                        a(href="/page-2/page-2.html") About us
                    li
                        a(href="/page-3/page-3.html") Rent
                    li
                        a(href="/page-4/page-4.html") Calculator
            h1 FAMILY STUDIO    
            a(href="/page-2/page-2.html"): button.btn.btn-danger.inpu Get started 
            hr
            .container.main__description 
                span
                     | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis, error deleniti! Natus tenetur cumque quidem a ex quia deserunt vel. Neque id magni asperiores iure assumenda veritatis debitis cum esse et eos fuga, ducimus, modi illum distinctio molestiae, dicta cupiditate. Dolor dicta adipisci aut officia assumenda numquam quibusdam velit ullam.  
            hr    