.container.halls
    .col-md-8
        .col-md-12.panelTop
            .col-lg-5
                img.img-responsive(src="../../assets/3_1.png", alt='')
            .col-lg-7
                h2 Manhattan Hall
                p
                    | Lorem ipsum dolor sit amet, altera propriae iudicabit eos ne. Vel ut accusam tacimates, prima oratio ius ea. Et duo alii verterem principes, te quo putent melius fabulas, ei scripta eligendi appareat duo.
    .col-md-8
        .col-md-12.panelTop
            .col-lg-7
                h2 Little Hall
                p
                    | Lorem ipsum dolor sit amet, altera propriae iudicabit eos ne. Vel ut accusam tacimates, prima oratio ius ea. Et duo alii verterem principes, te quo putent melius fabulas, ei scripta eligendi appareat duo.                    
            .col-lg-5
                img.img-responsive(src="../../assets/3_2.png", alt='')
