.col-lg-8
    .cardy
        h2 PHOTO PRINT CALCULATOR
        hr    
        h4 Print format
        .row.btns
            button.btn.btn-danger(type='button') Small format
            button.btn.btn-danger(type='button') Large format
        h4 Size
        .row.btns
            button.btn.btn-danger(type='button') 9x3 sm
            button.btn.btn-danger(type='button') 10x15 sm
            button.btn.btn-danger(type='button') 9x3 sm
            button.btn.btn-danger(type='button') 10x15 sm
            button.btn.btn-danger(type='button') 9x3 sm
            button.btn.btn-danger(type='button') 10x15 sm
        h4 Count
        .row
            input.form-control.cnt(type='text')
        h4 Total: 5 rub