.col-lg-8 
    .com
        img.avatar(src="../../assets/icon.png" alt="Image Title")
        span Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, aliquid voluptas. Quos aliquid, numquam est officia corrupti delectus? Debitis quos deserunt inventore voluptate reprehenderit excepturi modi, saepe sunt iusto perferendis.
        .com
        img.avatar(src="../../assets/icon.png" alt="Image Title")
        span Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, aliquid voluptas. Quos aliquid, numquam est officia corrupti delectus? Debitis quos deserunt inventore voluptate reprehenderit excepturi modi, saepe sunt iusto perferendis.
        .com
        img.avatar(src="../../assets/icon.png" alt="Image Title")
        span Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, aliquid voluptas. Quos aliquid, numquam est officia corrupti delectus? Debitis quos deserunt inventore voluptate reprehenderit excepturi modi, saepe sunt iusto perferendis.
