.col-lg-4
    .cardy
        h2 ABOUT STUDIO
        hr
        h4 We are ready to provide you with commercial photography services:
            ul
                li
                    span Asedfdfdd
                li
                    span Asedfdfdd
                li
                    span Asedfdfdd
                li
                    span Asedfdfdd
                li
                    span Asedfdfdd
                li
                    span Asedfdfdd
                li
                    span Asedfdfdd 
                li
                    span Asedfdfdd
                li
                    span Asedfdfdd 